---
import type { CollectionEntry } from "astro:content";
import Intro from "./Intro.astro";
import Tags from "./Tags.astro";

type Props = Pick<
  CollectionEntry<"blog">["data"],
  "title" | "description" | "publish_date" | "tags"
>;

const { title, description, publish_date, tags } = Astro.props;
---

<>
  <Intro title={title} created={publish_date} author="Angelo Verlain" />
  <p class="text-xl text-fg/80">
    {description}
    <!-- {state.readtime && (
          <span>
            <br />
            {post.readTime} min read.
          </span>
        )} -->
    <br />
    <Tags tags={tags} />
  </p>
</>
