---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

interface Props {
  limit?: number;
}

const { limit = Infinity } = Astro.props;

const projects = (await getCollection("portfolio")).slice(0, limit);

type Project = CollectionEntry<"portfolio">;
---

<div class="grid lg:grid-cols-2 lg:-mx-20 gap-4 mb-5">
  {
    projects.map(
      ({ data: { title, description, hero_image, bg_color, link } }) => (
        <a
          class="no-underline rounded-lg hover:saturate-50 transition text-white flex flex-col items-center"
          href={link}
          style={bg_color ? { "background-color": bg_color } : null}
          target="_blank"
        >
          {hero_image ? (
            <img class="project-image" src={hero_image} alt={title} />
          ) : null}
          <div class="p-4 pt-0 flex flex-col items-center">
            <h3 class="text-inherit mb-1">
              <span>{title}</span>
            </h3>
            <span>{description}</span>
          </div>
        </a>
      ),
    )
  }
</div>
