---
import type { CollectionEntry } from "astro:content";

import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import PostInfo from "../components/PostInfo.astro";
import { AUTHOR, PUBLISH_YEAR, SITE_TITLE } from "../consts";
import MainContainer from "../components/MainContainer.astro";

type Props = CollectionEntry<"blog">["data"] & {
  id: string;
};

const { title, description, publish_date, hero_image, tags, id } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={`${title} - vixalien's blog`} description={description} />
    <meta name="fediverse:creator" content="@vixalientoots@mas.to" />
  </head>

  <body>
    <MainContainer>
      <Header title="vixalien's blog" href="/blog" transition:name="blog" />
      <PostInfo
        title={title}
        description={description}
        publish_date={publish_date}
        tags={tags}
        id={id}
      />
      {
        hero_image ? (
          <img
            class="rounded-lg my-12"
            src={hero_image}
            alt="Banner Image for post"
          />
        ) : (
          <hr class="mt-6" />
        )
      }
      <br />
      <article>
        <slot />
      </article>
      <br />
      <hr />
      <br />
      <span>
        <a class="top" href="#top">↑ Scroll to Top</a>
        {
          (
            <div>
              <br />
              <span>
                &copy; {AUTHOR} {PUBLISH_YEAR}
              </span>
            </div>
          )
        }
      </span>
    </MainContainer>
  </body>
</html>
