---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import ImageContainer from "../components/ImageContainer.astro";
import PostInfo from "../components/PostInfo.astro";
import { PUBLISH_YEAR, SITE_TITLE } from "../consts";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="overflow-yes">
		{
			heroImage && (
				<ImageContainer image={heroImage} invert={false}>
					<Fragment slot="top">
						<Header title={SITE_TITLE} />
					</Fragment>
					<Fragment slot="bottom">
						<PostInfo
							title={title}
							description={description}
							pubDate={pubDate}
						/>
					</Fragment>
				</ImageContainer>
			)
		}
		<main class="container">
			{
				!heroImage && (
					<>
						<Header title={SITE_TITLE} />
						<PostInfo
							title={title}
							description={description}
							pubDate={pubDate}
						/>
						<hr />
					</>
				)
			}
			<article>
				<slot />
			</article>
			<hr />
			<br />
			<span>
				<a class="top" href="#top">↑ Scroll to Top</a>
				{
					(
						<div>
							<br />
							<span>&copy; Angelo Verlain {PUBLISH_YEAR}</span>
						</div>
					)
				}
			</span>
		</main>
	</body>
</html>
